@media only screen and (max-width:767px) {
   .navbar-default .navbar-collapse {
      width: 190px;
   }

   .intro-header .site-heading h1 {
      font-size: 42px;
   }
}

.side-catalog .catalog-body li a {
   max-width: 290px;
}

.side-catalog {
   width: 300px;
}

th {
   text-align: center;
}

.tags {
   text-transform: capitalize;
}

.intro-header {
   background-position-y: 56.8%;
   
}

.subheading {
   font-size: 2.22rem!important;
   
}